body{
    margin:0px;
    padding: 0px;
}
.about{
    height:60vh;
}
.ourBest{
    background: url('../img/bgForProject/bgOurBest.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
}