
.about-info{
    text-align: center;
    font-family: 'Merienda';
    font-weight: 400;
    padding-top:80px;
}

.about-beans{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15px;
    div{
        width:60px;
        background-color:black;
        height: 1px;
    }
}
.about-text{
    max-width:600px;
    margin: 0 auto;
    padding-top:40px;
    p{
        font-size: 14px;
    }
}