 .header{
    background: url('../img/bgForProject/bgHeader.png');
    background-repeat: no-repeat;
    background-size: cover;
    height:70vh;
 }

 .header-desc{
    display: flex;
    justify-content: center;
    font-family: "Merienda";
    padding-top:80px;
 }
